/* About Us */

.aboutus {
  background-color: #fff;
}

.aboutus h2 {
  margin-block: 30px;
}

.aboutusCon {
  margin-inline: 10%;
}

.aboutus__container-card {
  display: flex;
  border: 2px solid #eaeaea;
  padding: 10px;
  box-shadow: 0px 1px 8px;
  padding: 20px;
  margin-bottom: 30px;
  border-radius: 10px;
}

.odd {
  flex-direction: row-reverse;
}

.aboutus__container-card p {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-inline: 5%;
  font-size: 20px;
  width: 50%;
}

.imgg {
  width: 50%;
}

.imgg img {
  width: 100%;
}

.hr {
  border: 1px solid #000;
}

@media only screen and (max-width: 980px) {
  .aboutus__container-card {
    /* background-color: green; */
    flex-direction: column;
  }

  .imgg {
    width: 100%;
    margin-bottom: 30px;
  }

  .aboutus__container-card p {
    width: 100%;
    margin: unset;
  }
}
