/* Nvaigation bar*/
nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 5px 15px rgb(0, 0, 0, 0.06);
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 100;
    background: #fff;
}
/* Mantsha Logo */
#mantshaLogo{
    display: flex;
    
    left: 3rem;
    width: 50%;
    height: 40%;
}
/* home, about, contact, email, call */
#navbar{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 25px;
}
/* navbar list of links */
#navbar li{
    list-style: none;
    padding: 0 20px;
    position: relative;
}

#navbar li a{
    text-decoration: none;
    font-size: 1.3rem;
    font-weight: 600;
    color: #000;
}
/* hover link will automatically be active */
#navbar li a:hover
#navbar li a.active{
    color: #0505ec;
}
#navbar li a:hover::after,
#navbar li a.active::after{
    content: "";
    width: 30%;
    height: 2px;
    background: #0505ec;
    position: absolute;
    bottom: -4px;
    left: 20px;
}
/* Mobile id is for the hamburger icon when changed to phone device */
#mobile{
    display: none;
}
/* Will appear once dimensions switched to phone device */
#mobile i{
    color: #000;
}
/* larger device */
@media screen and (max-width: 980px) {
    nav{
        position: fixed;
        top: 0;
        left: -2%;
        width: 100%;
    }
    #mansthaLogo{
        display: flex;
    }
}

/* Navigation responsiveness */
@media screen and (max-width:769px) {
    nav{
        position: fixed;
        top: 0;
        left: -2%;
        width: 100%;
    }
    #navbar{
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: flex-start;
        position: fixed;
        top: 90px;
        right: -300px;
        width: 300px;
        height: 100vh;
        /*box-shadow: 20px 40px 60px rgba(190, 178, 178, 0.1);*/
        padding: 40px 0 0 10px;
        background: #fff;
    }
    #navbar.active{
        right: 0px;
    }
    #navbar li{
        margin-bottom: 25px;
    }
    #mobile{
        display: block;
    }
    #mobile{
        position: relative;
        top: 20px;
        left: -4%;
        font-size: 35px;
    }
    #mantshaLogo{
        position: relative;
        right: -12px;
        width: 40%; 
    }
}
/* The navigation will change to hamburger menu */
@media screen and (max-width: 659px) {
    nav{
        position: fixed;
        top: 0;
        left: -2%;
        width: 100%;
    }
}
@media screen and (max-width: 425px ) {
    nav{
        position: fixed;
        top: 0;
        left: -2%;
        width: 100%;
    }
    #mantshaLogo{
        display: flex;
        width: 40%;
    }

}