.App {
  text-align: center;
  box-sizing: border-box;
  background-color: #FAFBFF;
}

.mainPage{
  background-color: #FAFBFF;
  padding-top: 2%;
}

.twoContainer{
  width: 100%;
  height: 100%;
  background-color: #FAFBFF;
  display: flex;
  justify-content: space-around;
  flex-direction: column;
  flex-flow: wrap;
}

.box1{
  width: 30%;
  height: 100%;
  font-size: 24px;
  font-size: 20px;
  font-weight: 600;
  border-radius: 5px;
  box-sizing: border-box;
  border: 3px solid #000000;
  box-shadow: 0px 4px 4px rgba(175, 169, 187, 0.5);
}

.box2{
  width: 30%;
  height: 100%;
  font-size: 24px;
  font-size: 20px;
  font-weight: 600;
  border-radius: 5px;
  box-sizing: border-box;
  border: 3px solid #000000;
  box-shadow: 0px 4px 4px rgba(175, 169, 187, 0.5);
}


.titles{
  padding: 5%;
  padding-bottom: 9%;
  text-align: center;
  font-style: normal;
  font-weight: 600;
  font-size: 24px;
  line-height: 19px;
  color: #000000;
}

.pic{
  width: 100%;
  bottom: 0;
  margin-bottom: 5%;
  object-fit: cover;
  text-align: start;
}

.mapsText{  
  width: 100%;
  max-width:100%;
  font-size: 24px;
  font-weight: 600;
  color: #000000;
  text-align: center;  
}

.form-group{
  margin-bottom: 2px;  
  width: 100%;
  padding-left: 2.5px;
  font-size: 16px;
  font-weight: 400;
  color: #000000;
  text-align: start;
}

.formText{
  width: 100%;
  max-width:100%;
  font-size: 24px;
  font-weight: 600;
  color: #000000;
  text-align: center;  
}

/**************************************Navbar*************************************/

nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: #FFFFFF;
  padding: 20px 80px;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.06);
}
#navbar {
  display: flex;
  align-items: center;
  justify-content: center;
}

#navbar li {
  list-style: none;
  padding: 1px 20px;
  position: relative;
}

#navbar li a {
  text-decoration: none;
  font-size: 1.3rem;
  font-weight: 600;
  color: #000000;
  transition: 0.3s ease-in-out;
}
#navbar li a:hover,
#navbar li a.active {
  color: #1c6eda;
}

#navbar li a:hover::after,
#navbar li a.active::after {
  content: "";
  width: 1%;
  height: 1%;
  fill: #1c6eda;
  background: #FFFFFF;
  position: absolute;
  display: flex;
  bottom: -15px;
  left: 45px;
  border-radius: 10px;
  border: 5px solid #1c6eda;}

#mobile {
  display: none;
}

#mobile i {
  color: #000000;
  align-items: center;
}

@media screen and (max-width: 769px) {
  #navbar {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    position: fixed;
    top: 90px;
    right: -150px;
    width: 300px;
    height: 100vh;
    background: #FFFFFF;
    box-shadow: 0 40px 60px rgba(0, 0, 0, 0.1);
    padding: 40px 0 0 10px;
    transition: 0.3s ease-in-out;
  }

  #navbar.active {
    right: 0px;
  }

  #navbar li {
    margin-bottom: 25px;
  }

  #mobile {
    display: block;
  }

  #mobile i {
    font-size: 24px;
    cursor: pointer;
  }
}

/******************************Contact Form***********************************/

.form-container {
  color: #2a2a2a;
  height: 100%;
}

.form-container form {
  display: flex;
  flex-direction: column;
  width: 90%;
  margin: auto;
}

.form-container input {
  height: 2rem;
  padding: 0 1rem;
  border-radius: 0.3rem;
  border: 1px solid #250e0e;
}

.form-container textarea {
  padding: 1rem;
  margin-bottom: 2rem;
  border-radius: 0.3rem;
  border: 1px solid #250e0e;
}

.form-container button {
  display: inline;
  margin-left: 35%;
}

@media screen and (max-width: 850px) {
  .form-container {
    margin: 4rem 2rem;
  }
  .form-container form {
    padding-top: 2rem;
    width: 90%;
  }
}

:root {
  --primary: #3acbf7;
}

.btn {
  padding: 8px 10px;
  height: 10%;
  border-radius: 4px;
  cursor: pointer;
  margin-bottom: 5%;
  width: 30%;
  font-size: 16px;
  font-weight: 700;
}

.btn:hover {
  background: #1c6eda;
  transition: 0.3s ease-out;
  color: #ffffff;
  transition: 250ms;
}

.btn--primary {
  background-color: var(--primary);
}

.btn--outline {
  background-color: transparent;
  color: #fff;
  padding: 8px 20px;
  border-radius: 4px;
  border: 1px solid var(--primary);
  transition: 0.3s ease-out;
}

.btn--medium {
  color: #fff;
  padding: 8px 20px;
  border-radius: 4px;
  font-size: 18px;
}

.btn--large {
  color: #fff;
  padding: 12px 26px;
  border-radius: 4px;
  font-size: 20px;
}

/*****************************************************************************/
.mountingIcon{
  width: 100em;
  justify-content: space-between;
  width: 10%;
}

 .footerContainer{
  bottom: 0;
  display: flex;
  margin-top: 100px;
  width: 100%;
  height: 70px;

  background: #0A003C;
 }

 .creators{
  padding-left: 2em;
  width: 100%;
  height: 30px;
  text-align: start;
  box-sizing: border-box;
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  color: #FFFFFF;
 }

 .copyRightTag{
  padding-right: 2em;
  width: 100%;
  height: 30px;
  text-align: end;
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  color: #FFFFFF;
 }

#name, #subject, #email, #email_body, label.title {
  object-fit: contain;
  padding: 1%;
  width: 90%;
}

.title{
  text-align: start;
  display: flex;
}


/**********************************RESPONSIVENESS*************************************/



@media screen and (max-width: 1440px){
  .box1, .box2, .footerContainer{
   width: 100%;
   height: 50%;
  }
 }
 @media screen and (max-width: 1200px){
  .box1, .box2, .footerContainer{
    width: 100%;
    height: 50%;
   }
  }
  @media screen and (max-width: 1024px){
  .box1, .box2, .footerContainer{
      width: 100%;
      height: 50%;
   }
  }
  @media screen and (max-width: 900px){
  .box1, .box2, .footerContainer{
    width: 100%;
    height: 50%;
   }
  }
  @media screen and (max-width: 730px){
  .box1, .box2, .footerContainer{
      width: 100%;
      height: 50%;
   }
  }
  @media screen and (max-width: 720px){
  .box1, .box2, .footerContainer{
      width: 100%;
      height: 50%;
   }
  }
  @media screen and (max-width: 640px){
  .box1, .box2, .footerContainer{
    width: 100%;
    height: 50%;
   }
  }
  @media screen and (max-width: 480px){
   .box1, .box2, .footerContainer{
    width: 100%;
    height: 50%;
   }
  }
